<h1>Content page</h1>
<table class="table table-striped table-bordered">
    <thead class="table-header">
    <tr>
        <th><span ng-click="orderBy('name')">Name<span class="icon {{iconClass}}" ng-show="predicate === 'name'"></span></span></th>
        <th><span ng-click="orderBy('age')">Age<span class="icon {{iconClass}}" ng-show="predicate === 'age'"></span></span></th>
        <th><span ng-click="orderBy('gender')">Gender<span class="icon {{iconClass}}" ng-show="predicate === 'gender'"></span></span></th>
        <th><span ng-click="orderBy('eyeColor')">Eye color<span class="icon {{iconClass}}" ng-show="predicate === 'eyeColor'"></span></span></th>
        <th><span ng-click="orderBy('company')">Company<span class="icon {{iconClass}}" ng-show="predicate === 'company'"></span></span></th>
        <th><span ng-click="orderBy('address')">Address<span class="icon {{iconClass}}" ng-show="predicate === 'address'"></span></span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in myData | startFrom:currentPage*pageSize | limitTo:pageSize">
        <td>{{data.name}}</td>
        <td>{{data.age}}</td>
        <td>{{data.gender}}</td>
        <td>{{data.eyeColor}}</td>
        <td>{{data.company}}</td>
        <td>{{data.address}}</td>
    </tr>
    </tbody>
</table>

<div class="btn-group btn-group-justified" role="group">
    <button type="button" class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
    <button type="button" class="btn btn-default" ng-repeat="number in buttonsPages(numberOfPages())" ng-class="{'btn-primary':$index==currentPage}" ng-click="switchToPage($index)">{{number}}</button>
    <button type="button" class="btn btn-default"  ng-disabled="currentPage >= myData.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
</div>