<form name="nameInput">
    <div id="main">
        <label for="exampleInputName">Your name is: {{userName}}</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="Enter your name" ng-model="userName">
    </div>
</form>

<form name="clickCounter">
    <div class="form-group">
        <label for="exampleCountNumbers">Count click: {{countClick}}</label>
        <input name="inputCountClick" type="number" class="form-control" id="exampleCountNumbers" placeholder="Enter number click" ng-model="countClick">
    </div>
    <button type="submit" class="btn btn-default" ng-click="changeValueInput()" ng-disabled="!clickCounter.$valid">Submit</button>
</form>